<!--<div class="container">-->
  <nav class="navbar navbar-expand-sm navbar-light bg-primary ">
    <a class="navbar-brand" href="#">
      <img class="rounded-circle bg-light" width="40px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/1200px-Angular_full_color_logo.svg.png">
      <span class="text-light"> Angular</span>
    </a>
<!--    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"-->
<!--            aria-controls="collapsibleNavId"-->
<!--            aria-expanded="false" aria-label="Toggle navigation">-->
<!--      <span class="navbar-toggler-icon"></span>-->
<!--    </button>-->
<!--    <div class="collapse navbar-collapse" id="collapsibleNavId">-->
<!--      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">-->
<!--        <li class="nav-item active">-->
<!--                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--                  <a class="nav-link" href="#">Link</a>-->
<!--        </li>-->
<!--        <li class="nav-item dropdown">-->
<!--                  <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true"-->
<!--                     aria-expanded="false">Dropdown</a>-->
<!--                  <div class="dropdown-menu" aria-labelledby="dropdownId">-->
<!--                    <a class="dropdown-item" href="#">Action 1</a>-->
<!--                    <a class="dropdown-item" href="#">Action 2</a>-->
<!--                  </div>-->
<!--        </li>-->
<!--      </ul>-->

      <form [formGroup]="formLogin" class="form-inline position-absolute" style="right: 20px">
        <label for="email" class="mr-sm-2 small">Username:</label>
        <input formControlName="username" [(ngModel)]="user.username" type="email" class="form-control form-control-sm mb-2 mr-sm-2" id="email">
        <label for="pwd" class="mr-sm-2 small">Password:</label>
        <input formControlName="password" [(ngModel)]="user.password" type="password" class="form-control form-control-sm mb-2 mr-sm-2 " id="pwd">
        <button type="submit" class="btn btn-danger btn-sm mb-2 mr-2" (click)="login()">Login</button>
        <button type="button" class="btn btn-danger btn-sm mb-2 " (click)="logout()">Logout</button>
      </form>

    <!--    </div>-->
  </nav>
<!--</div>-->
