<div>
<!--  <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#frmProduct">Create</button>-->
<!--  <br>-->
<!--  <br>-->
  <div id="frmProduct"  >
    <form [formGroup]="formProduct" (ngSubmit)="doAdd()">
      <label for="id">Id:</label>
      <input type="text" class="form-control"
             formControlName="id" [(ngModel)]="product.id"
             name="name" id="id"
             aria-label="Title" placeholder="id">
      <div *ngIf="!fields.name.valid && fields.name.touched" class="alert alert-danger">
        <p *ngIf="fields.name.errors.required"> Name is required</p>
        <p *ngIf="fields.name.errors.minlength"> Name is too short</p>
      </div>
      <label for="name">Name:</label>
      <input type="text" class="form-control"
             formControlName="name" [(ngModel)]="product.name"
             name="name" id="name"
             aria-label="Title" placeholder="name">
      <div *ngIf="!fields.name.valid && fields.name.touched" class="alert alert-danger">
        <p *ngIf="fields.name.errors.required"> Name is required</p>
        <p *ngIf="fields.name.errors.minlength"> Name is too short</p>
      </div>
      <label>Description:</label>
      <input type="text" class="form-control"
             formControlName="description" [(ngModel)]="product.description"
             name="description" aria-label="description" placeholder="description">
      <label>Price:</label>
      <input type="text" class="form-control"
             formControlName="price" [(ngModel)]="product.price"
             name="price" aria-label="price" placeholder="price">
      <input type="submit" class="btn btn-success mt-2">
    </form>
  </div>
</div>
