<div class="container">
  <nav class="navbar navbar-expand-sm navbar-light bg-primary">
    <a class="navbar-brand" href="#">
      <img class="rounded-circle bg-light" width="40px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/1200px-Angular_full_color_logo.svg.png">
      <span class="text-light"> Angular</span>
    </a>
<!--    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"-->
<!--            aria-controls="collapsibleNavId"-->
<!--            aria-expanded="false" aria-label="Toggle navigation">-->
<!--      <span class="navbar-toggler-icon"></span>-->
<!--    </button>-->
<!--    <div class="collapse navbar-collapse" id="collapsibleNavId">-->
<!--      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">-->
<!--        <li class="nav-item active">-->
<!--&lt;!&ndash;                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>&ndash;&gt;-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--&lt;!&ndash;                  <a class="nav-link" href="#">Link</a>&ndash;&gt;-->
<!--        </li>-->
<!--        <li class="nav-item dropdown">-->
<!--                  <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true"-->
<!--                     aria-expanded="false">Dropdown</a>-->
<!--                  <div class="dropdown-menu" aria-labelledby="dropdownId">-->
<!--                    <a class="dropdown-item" href="#">Action 1</a>-->
<!--                    <a class="dropdown-item" href="#">Action 2</a>-->
<!--                  </div>-->
<!--        </li>-->
<!--      </ul>-->
<!--      &lt;!&ndash;    <form class="form-inline my-2 my-lg-0">&ndash;&gt;-->
<!--      &lt;!&ndash;      <input class="form-control mr-sm-2" type="text" placeholder="Search">&ndash;&gt;-->
<!--      &lt;!&ndash;      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>&ndash;&gt;-->
<!--      &lt;!&ndash;    </form>&ndash;&gt;-->
<!--    </div>-->
  </nav>
</div>
